*.asv
**/.DS_Store
*.bin
*.wav
*.abi
*.basi
*.bco
*.bcx
*.err
**/easyplot.m
*.bas
*.bcm

docs/doxygen/html/

docs/doxygen/latex/

docs/doxygen/xml/

*.exe

!/rc/user/mateo/protocols/passive_protocol_motion_clouds/passive_waveforms_motion_clouds/
!/rc/user/mateo/protocols/passive_protocol_motion_clouds/passive_waveforms_motion_clouds/*.bin

